
/*type level styling*/

h1{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1em;
    font-family: 'Roboto', sans-serif,Helvetica;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

div>nav>ul>li{
    font-weight: bold;
    text-underline: blue;
}

/* class level stylin */

.introduction{
    font-family: 'Roboto', sans-serif,Helvetica;
    font-size:1em;
    padding-bottom: 5px;
    width: 100%;
    flex: 50%;
}

.experience{
    font-family: 'Roboto', sans-serif,Helvetica;
    font-size: 1em;
    padding-bottom: 5px;
    width: 100%;
    flex: 50%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.links{
    font-family: 'Roboto', sans-serif,Helvetica;
    font-size: 1em;
    padding-bottom: 5px;
    width: 100%;
}

/*id level styling*/

#exptable{
    border: 1px solid black;
    text-align: left;
}

#profilepicture{
    width: 25%;
}


#name{
    color:#008080;
}




div nav ul li a:link {
    color: #0000ff;
}
div nav ul li a:visited {
    color: #ff00ff;
}
div nav ul li a:hover {
    color: #00ccff;
}
div nav ul li a:active {
    color: #ff0000;
}
