
/*type level styling*/

h1{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 1em;
    font-family: 'Roboto', sans-serif,Helvetica;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

div>nav>ul>li{
    font-weight: bold;
}

div nav ul li a:link {
    color: #0000ff;
}
div nav ul li a:visited {
    color: #ff00ff;
}
div nav ul li a:hover {
    color: #00ccff;
}
div nav ul li a:active {
    color: #ff0000;
}

/* class level stylin */
.introduction{
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif,Helvetica;
    font-size:2rem;
    margin: 0;
    color: whitesmoke;
    height: 1080px;
    vertical-align: bottom;
    position: sticky;
    background: #2C3E50;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #664CA1AF, #662C3E50),url(ProfilePicture.JPG);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #664CA1AF, #662C3E50),url(ProfilePicture.JPG); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-attachment: fixed;
}


.experience{
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif,Helvetica;
    font-size: 1em;
    flex: 50%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.links{
    padding-top: 15px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif,Helvetica;
    font-size: 1em;
}


.footer{
    padding-left: 15px;
    padding-top: 15px;
    margin-left:15px ;
    margin-bottom: 15px;
}

.introduction.p.a:link {
    color: whitesmoke;
}

.introduction.p.a:visited {
    color: white;
}
.introduction.p.a:hover {
    color: white;
}
.introduction.p.a:active {
    color: white;
}

/*id level styling*/

#links_site{
    margin-top: 15px;
    padding-left: 15px;
}

#exptable{
    border: 1px solid black;
    text-align: left;
    margin-top: 15px;
}

